pip==19.2.3
bump2version==0.5.11
wheel~=0.35
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==5.5
Sphinx==1.8.5
twine==1.14.0
pytest==6.2.4
ipython==7.24.1
scikit-optimize==0.8.1
ghp-import==2.0.1
sphinxcontrib-programoutput==0.17
pytest-cov==2.12.1
codecov==2.1.11
